doctype html
html
    head
        title Successful
        link(rel='stylesheet', href='/assets/style.css')
    body
        div.container
            h1.header You are logged in
            img.image(src='/assets/login.png' alt='no image')
    