doctype html
html
    head
        title This is MagicApp
        link(rel='stylesheet', href='/assets/style.css')
    body
        div.container
            h1.container-header Try to login
            a.btn(href='/auth/google') Log in with Google 